@charset "utf-8";

body {overflow: auto; width: 100%;}
header {
    display: none;
}
.left-contents {
    position: relative;
    top: 0;
}
.left-contents img {
    max-width: 100%;
}
.left-contents p {
    display: none;
}
#mobile_btn {
    position: absolute;
    display: block;
    right: 0;
    margin-right: 30px;
    height: 90px;
    background: none;
    font-size: 33px;
    color: #000;
    border: none;
    cursor: pointer;
    z-index: 1;
}

/* menu-area */
.menu {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}
.aa {
    overflow: scroll;
}
.black_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    height:100vh;
    z-index: 3;
    opacity: 0.67;
    display: none;
}
.black_bg.on {display: block;}
.main_bg {
    float: right;
    z-index: 10;
    position: fixed;
    top: 0; right: -600px;
    height: 100% !important;
    overflow-y: auto;
    width: 100%;
    transition: all 0.8s;
}
.main_bg.on {
    right: 0;
}
.main_bg_top{
    overflow: hidden;
    padding: 30px 50px 0;
    margin: -30px -50px 0;
    background: #a7443d;
}

.close_btn {
    float: right;
    margin-right: 40px;
    margin-top: 35px;
}
.search {
    width: 400px;
    text-align: center;
    padding: 0 50px;
    margin-top: 50px;
    
}

fieldset {
    border: none;
    background: #a7443d;
    border-bottom: 3px solid #fff;
}
#search_area {
    padding: 10px 0;
    width: 80%;
    height: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    background-color: #a7443d;
    font-size: 16px;
    outline: 0;
    color: #fff;
    margin-left: 0;
}
#search_area::placeholder {
    color: #fff;
}
.search_img {
    width: 25px;
    height: 27px;
    margin-right: 30px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}
.menu_box {
    padding-left: 50px;
    margin-top: 40px;
}
.menu_box span {
    display: none;
}
.menu_box span::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #efc1b1 transparent transparent transparent;
    margin: -2px 0 0 8px;
}
.menu_list {
    font-family: 'Noto Sans KR',sans-serif;
    width: 80%;
    margin: 20px auto;
}
.menu_list li a {
    display: block;
    line-height: 49px;
    height: 50px;
    border-bottom: 1px solid #efc1b1;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}

.menu_list li a:before {
    content: '+';
    font-size: 24px;
    float: right;
    color: #cecece;
    font-weight: 200;
}
.menu_list li a:hover {
    opacity: 0.5;
}


.menu_list2 {
    font-family: 'Noto Sans KR',sans-serif;
    width: 80%;
    margin: 40px auto;
}
.menu_list2 li a {
    display: block;
    line-height: 1.5;
    height: 60px;
    border-bottom: 1px solid #efc1b1;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    transition: all 0.5s;
}
.menu_list2 li a span {
    font-size: 15px;
    color: #efc1b1;
    font-weight: 300;
}
.menu_list2 li a:hover {
    opacity: 0.5;
}

.main_bg_bottom{
    padding: 50px;
    margin: 0 -50px 0;
    background: #86260e;
}
.menu_news {
    font-family: 'Noto Sans KR',sans-serif;
    width: 80%;
    margin: 20px auto;
}
.menu_news li a {
    display: block;
    line-height: 49px;
    height: 50px;
    border-bottom: 1px solid #efc1b1;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
.menu_news li a img {
    width: 25px; height: 25px;
    margin-right: 15px;
    vertical-align: middle;

}
.menu_news li:first-child a {border-top: 1px solid #efc1b1;}

.menu_news li a:before {
    content: '+';
    font-size: 24px;
    float: right;
    color: #cecece;
    font-weight: 200;
}
.menu_news li a:hover {
    opacity: 0.5;
}
.menu_bottom_area {
    font-family: 'Noto Sans KR',sans-serif;
    margin: 60px;
}
.menu_bottom_area li {
    float: left;
    width: 25%;
    height: 15px;
    line-height: 15px;
    margin-bottom: 25px;
}
.menu_bottom_area li a {
    display: block;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    transition: all 0.5s;
}
.menu_bottom_area li a::after {
    content: '';
    display: inline-block;
    background: #a5a5a5;
    width: 2px; height: 15px;
    margin-right: 15px;
    float: right;
}
.menu_bottom_area li a:hover {
    opacity: 0.5;
}
.menu_sns {
    margin-left:60px;
    padding-top: 25px;
    width: 370px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.menu_sns a {
    transition: all 0.8s;
}
.menu_sns img {
    width: 40px;
    transition: all 0.5s;
}

.menu_sns img:hover {
	transform: rotate( 23deg );
}



.right-contents {
    top: 30px;
    width: 100%;
}
.item1, .item2, .item3, .item4, .item5 {
    display: block;
    height: 200px;
}
.item1 .type {
    font-family: 'Noto Sans KR','NanumSquare';
    position: absolute;
    top: 0;
    left: 0;
    color: #828282;
    font-size: 15px;
    line-height: 40px;
    border-bottom: 1px solid #828282;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
}
.item1 .sub_type {
    font-family: 'SF_HambakSnow';
    position: absolute;
    top: 55px; left: 30px;
    color: #86260e;
}
.item1 .sub_type .small {
    font-size: 16px;
    margin-bottom: 10px;
}
.item1 .sub_type .big {
    font-size: 20px;
}
.item1 .item1_img {
    position: absolute;
    top: 50px;
    right: 30px;
}
.item1_img img {width: 160px;}

.item1 .text {
    font-family: 'Noto Sans KR','NanumSquare';
    font-weight: 400;
    position: absolute;
    color: #86260e;
    line-height: 1.6;
    font-size: 13px;
    top: 120px; left: 30px;
}
.item1 .more {
    font-family: 'Noto Sans KR','NanumSquare';
    position: absolute;
    top: 180px; left: 30px;
    font-size: 13px;
    color: #808080;
    text-align: center;
    line-height: 20px;

}
.more img {
    margin-left: 10px;
    vertical-align: middle;
    width: 13px; height: 13px;

}

.item2 .type {
    position: absolute;
    top: 250px;
    left: 0;
    color: #828282;
    font-size: 15px;
    line-height: 40px;
    border-bottom: 1px solid #828282;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
}

.item2 .sub_type {
    font-family: 'SF_HambakSnow';
    position: absolute;
    top: 305px; left:30px;
    color: #86260e;
}
.item2 .sub_type .small {
    font-size: 16px;
}
.item2 .sub_type .big {
    font-size: 20px;
    margin-bottom: 10px;
}
.item2 .item2_img {
    position: relative;
    float: right;
    top: 70px; left: -30px;
}
.item2_img img {width: 120px;}
.item2 .text {
    font-family: 'Noto Sans KR','NanumSquare';
    font-weight: 400;
    position: absolute;
    color: #86260e;
    font-size: 13px;
    line-height: 1.8;
    top: 370px; left:30px;
}
.item2 .more {
    font-family: 'Noto Sans KR','NanumSquare';
    position: absolute;
    top: 430px; left:30px;
    font-size: 13px;
    color: #808080;
    text-align: center;
    line-height: 18px;
}
.item2 .more img {
    margin-left: 10px;
    width: 16px; height: 16px;
}

.item3 .type {
    font-family: 'Noto Sans KR','NanumSquare';
    position: absolute;
    top: 500px;
    left: 0;
    color: #828282;
    font-size: 15px;
    line-height: 40px;
    border-bottom: 1px solid #828282;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
}
.item3 .sub_type {
    font-family: 'SF_HambakSnow';
    position: absolute;
    top: 555px; left: 30px;
    color: #86260e;
}
.item3 .sub_type .small {
    font-size: 16px;
}
.item3 .sub_type .big {
    font-size: 20px;
    margin-bottom: 10px;
}

.item3 .item3_img {
    position: absolute;
    top: 540px;
    right: 30px;
}
.item3_img img {width: 160px;}
.item3 .text {
    font-family: 'Noto Sans KR','NanumSquare';
    font-weight: 400;
    position: absolute;
    font-size: 13px;
    color: #86260e;
    line-height: 1.8;
    top: 620px; left: 30px;
}
.item3 .more {
    font-family: 'Noto Sans KR','NanumSquare';
    position: absolute;
    top: 680px; left: 30px;
    font-size: 13px;
    color: #808080;
    text-align: center;
    line-height: 18px;

}
.item3 .more img {
    margin-left: 10px;
    width: 16px; height: 16px;
}

.item4 .type {
    font-family: 'Noto Sans KR','NanumSquare';
    position: absolute;
    top: 750px;
    left: 0;
    color: #828282;
    font-size: 15px;
    line-height: 40px;
    border-bottom: 1px solid #828282;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
}

.item4 .sub_type {
    font-family: 'SF_HambakSnow';
    position: absolute;
    top: 805px; left:30px;
    color: #86260e;
}
.item4 .sub_type .small {
    font-size: 16px;
    margin-bottom: 10px;
}
.item4 .sub_type .big {
    font-size: 20px;
}
.item4 .item4_img {
    position: relative;
    float: right;
    top: 190px; left: -30px;
}
.item4_img img {width: 190px;}
.item4 .text {
    font-family: 'Noto Sans KR','NanumSquare';
    font-weight: 400;
    position: absolute;
    color: #86260e;
    line-height: 1.8;
    font-size: 13px;
    top: 870px; left:30px;
}
.item4 .more {
    font-family: 'Noto Sans KR','NanumSquare';
    position: absolute;
    top: 930px; left:30px;
    font-size: 13px;
    color: #808080;
    text-align: center;
    line-height: 18px;
}
.item4 .more img {
    margin-left: 10px;
    width: 16px; height: 16px;
}
.item5 {margin-bottom: 300px;}
.item5 .type {
    font-family: 'Noto Sans KR','NanumSquare';
    position: absolute;
    top: 1000px;
    left: 0;
    color: #828282;
    font-size: 15px;
    line-height: 40px;
    border-bottom: 1px solid #828282;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
}
.item5 .sub_type {
    font-family: 'SF_HambakSnow';
    position: absolute;
    top: 1055px; left: 30px;
    color: #86260e;
}
.item5 .sub_type .small {
    font-size: 16px;
}
.item5 .sub_type .big {
    font-size: 20px;
    margin-bottom: 10px;
}
.item5 .item5_img {
    position: absolute;
    top: 1050px;
    right: 30px;
}
.item5_img img {width: 110px;}
.item5 .text {
    font-family: 'Noto Sans KR','NanumSquare';
    font-weight: 400;
    position: absolute;
    color: #86260e;
    line-height: 1.8;
    font-size: 13px;
    top: 1120px; left: 30px;
}
.item5 .more {
    font-family: 'Noto Sans KR','NanumSquare';
    position: absolute;
    top: 1180px; left: 30px;
    font-size: 13px;
    color: #808080;
    text-align: center;
    line-height: 18px;

}
.item5 .more img {
    margin-left: 10px;
    width: 16px; height: 16px;

}


.notice {
    position: absolute;
    top: 0; left: 30px;
    width: 90%;
}
.notice > h2 {
    position: relative;
    margin-bottom: 10px;
}
.notice > h2:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 19px;
    height: 1px;
    background: #9a9a9a;
}
.notice > h2 > span {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Noto Sans KR',sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: #9a9a9a;
    line-height: 1.4;
    padding-right: 14px;
    background: #f4f4f4;
    position: relative;
    z-index: 2;
}
.notice > h4 {
    margin-bottom: 15px;
}
.notice > h4 > strong {
    font-size:15px;
    font-family: 'Noto Sans KR',sans-serif;
    color: #000;
    font-weight: bold;
}
.notice > h4 > a > img {
    width: 20px;
    float: right;
}

.notice > h4 > a:hover > img {
    transform: rotate(180deg);
    transition: transform 0.3s;
    color: #2a2a2a;
}
.swiper.mySwiper {
    width: 100%;
    height:auto;
    float: left;
    margin-bottom: 100px;
}
.swiper-slide > a > figure img {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    transition: all 0.3s;
}
.swiper-slide > a > figure:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 150px;
    background: rgba(0,0,0,0.5);
}
.mySwiper .swiper-slide > a > figure:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 40%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border-radius: 100%;
    border: 1px solid #fff;
    background: url(../img/icon/ico_over_more.png) no-repeat 50% 50%;
}

.swiper-slide > a > .text {
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #202020;
}

/* vedio */
.vedio {
    position: absolute;
    top: 350px;
    left: 30px;
    width: 43%;
}
.vedio > h2 {
    position: relative;
    margin-bottom: 10px;
}
.vedio > h2:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 19px;
    height: 1px;
    background: #9a9a9a;
}
.vedio > h2 > span {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Noto Sans KR',sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: #9a9a9a;
    line-height: 1.4;
    padding-right: 14px;
    background: #f4f4f4;
    position: relative;
    z-index: 2;
}
.vedio > h4 {
    margin-bottom: 15px;
}
.vedio > h4 > strong {
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: bold;
}
.vedio > h4 > a > img {
    width: 20px;
    float: right;
}
.vedio > h4 > a:hover > img {
    transform: rotate(180deg);
    transition: transform 0.3s;
    color: #2a2a2a;
}
.mySwiper2 .swiper-slide > a > figure:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 40%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border-radius: 100%;
    border: 1px solid #fff;
    background: url(../img/icon/ico_over_play.png) no-repeat 50% 50%;
}

/* msgg */
.msgg {
    position: absolute;
    top: 350px;
    right: 30px;
    width: 43%;
}
.msgg > h2 {
    position: relative;
    margin-bottom: 10px;
}
.msgg > h2:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 19px;
    height: 1px;
    background: #9a9a9a;
}
.msgg > h2 > span {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Noto Sans KR',sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: #9a9a9a;
    line-height: 1.4;
    padding-right: 14px;
    background: #f4f4f4;
    position: relative;
    z-index: 2;
}
.msgg > h4 {
    margin-bottom: 15px;
}
.msgg > h4 > strong {
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 600;
}
.msgg > h4 > a > img {
    width: 20px;
    float: right;
}

.msgg > h4 > a:hover > img {
    transform: rotate(180deg);
    transition: transform 0.3s;
    color: #2a2a2a;
}


.mySwiper3 .swiper-slide > a > figure:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 35%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border-radius: 100%;
    border: 1px solid #fff;
    background: url(../img/icon/ico_over_more.png) no-repeat 50% 50%;
}

/* show */
.show {
    position: absolute;
    top: 700px; left: 30px;
    width: 100%;
}
.show > h2 {
    position: relative;
    margin-bottom: 10px;
}
.show > h2:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 19px;
    height: 1px;
    background: #9a9a9a;
}
.show > h2 > span {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Noto Sans KR',sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: #9a9a9a;
    line-height: 1.4;
    padding-right: 14px;
    background: #f4f4f4;
    position: relative;
    z-index: 2;
}
.show > h4 {
    margin-bottom: 15px;
}
.show > h4 > strong {
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 600;
}
.show > h4 > a > img {
    width: 20px;
    float: right;
}

.show > h4 > a:hover > img {
    transform: rotate(180deg);
    transition: transform 0.3s;
    color: #2a2a2a;
}
.mySwiper4 {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.mySwiper4 .swiper-slide > a > img {
    width: 100%;
    transition: all 0.3s;
}
.mySwiper4 .swiper-slide > a {
    height: 100%;
    height: 100%;
    display: block;
}
.mySwiper4 .swiper-slide > a:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 99%;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s;
}

.show_text {
    position: absolute;
    left:20px; bottom: 5%;
    font-family: 'Noto Sans KR',sans-serif;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
    opacity: 0;
}
.swiper-slide > a:hover .show_text {
    transition: all 0.3s;
    opacity: 1;

}
.show_text > .big_txt {
    font-size: 15px;
}
.show_text > .small_txt {
    font-size: 13px;
    margin: 10px 0;
}


/* show_bottom */
.show_bottom {
    width: 100%;

}
.show_bottom > .left p {
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 13px;
    line-height: 1.2;
    color: #5f5f5f;
    font-weight: 300;
    margin-bottom: 7px;
}
.show_bottom > .right {
    text-align: center;
    margin-top: 40px;
}
.show_bottom > .right > a {
    background: #666;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 15px;
    float: none;
    color: #fff;
    transition: all 0.3s;
}
.show_bottom > .right > a:hover {
    background: #000;
}
.show_bottom > .right a img {
    vertical-align: middle;
    margin-right: 10px;
}

/* music */
.ALBUM {
    position: relative;
    top: 1350px; left: 30px;
    width: 100%;
}
.ALBUM > h2 {
    position: relative;
    margin-bottom: 10px;
}
.ALBUM > h2:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 19px;
    height: 1px;
    background: #9a9a9a;
}
.ALBUM > h2 > span {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Noto Sans KR',sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: #9a9a9a;
    line-height: 1.4;
    padding-right: 14px;
    background: #f4f4f4;
    position: relative;
    z-index: 2;
}
.ALBUM > h4 {
    margin-bottom: 15px;
}
.ALBUM > h4 > strong {
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 600;
}
.ALBUM > h4 > a > img {
    width: 20px;
    float: right;
}

.ALBUM > h4 > a:hover > img {
    transform: rotate(180deg);
    transition: transform 0.3s;
    color: #2a2a2a;
}
.mySwiper5 {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.mySwiper5 .swiper-slide > a > img {
    width: 100%;
    transition: all 0.3s;
}
.mySwiper5 .swiper-slide > a:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 98%;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s;
}

.ALBUM_text {
    position: absolute;
    left:20px; bottom: 5%;
    font-family: 'Noto Sans KR',sans-serif;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
    opacity: 0;
}
.swiper-slide > a:hover .ALBUM_text {
    transition: all 0.3s;
    opacity: 1;

}
.ALBUM_text > .big_txt {
    font-size: 15px;
}
.ALBUM_text > .small_txt {
    font-size: 13px;
    margin: 10px 0;
}


/* ALBUM_bottom */
.ALBUM_bottom {
    margin-bottom: 100px;
    width: 100%;

}
.ALBUM_bottom > .left p {
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 13px;
    line-height: 1.2;
    color: #5f5f5f;
    font-weight: 300;
    margin-bottom: 7px;
}
.ALBUM_bottom > .right {
    text-align: center;
    margin-top: 40px;
}
.ALBUM_bottom > .right > a {
    background: #666;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 10px 40px;
    float: none;
    font-weight: 600;
    margin-top: -50px;
    font-size: 15px;
    color: #fff;
    transition: all 0.3s;
}
.ALBUM_bottom > .right > a:hover {
    background: #000;
}
.ALBUM_bottom > .right a img {
    vertical-align: middle;
    margin-right: 10px;
}
/* banner */
.banner {
    position: relative;
    top: 1300px; left: 0;
}
.banner > ul > li > a > img {
    width: 100%;
    margin: 10px 30px;
}
.banner > ul > li {
    float: none;
}
.banner > ul > li:last-child {
    float: none;
}
.banner_txt  {
    position: absolute;
    font-family: 'Noto Sans KR',sans-serif;
    padding-left: 50px;
}
.banner_txt img {
    position: absolute;
    bottom: 10px;
}
.banner li:first-child .banner_txt {
    position: absolute;
    top: 50px;
}
.banner li:first-child strong {
    font-size: 13px;
    color: #ffb3c4;
    letter-spacing: 2px;
}
.banner li:last-child strong {
    font-size: 13px;
    color: #fff;
    letter-spacing: 2px;
}
.banner li:last-child .banner_txt {
    position: absolute;
    top: 250px;
}
.banner p {
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    padding: 12px 0 30px;
    position: relative;
}
/* section_area5 */
.input_area {
    position: relative;
    font-family: 'Noto Sans KR',sans-serif;
    top: 1320px; left: 30px;
    height: 160px;
    background: #000;
    padding: 32px 30px;
}
.main_txt {
    float: none;
    width: 100%;
    font-size: 17px;
    text-align: center;
    line-height: 0px;
    color: #fff;
    font-weight: 500;
}
input {
    height: 40px;
    background: #fff;
    color: #000;
    font-size: 15px;
    border: none;
    box-sizing: border-box;
}
.input1 {
    width: 32%;
    float: left;
    top: 60px;
    margin-right: 20px;
    padding-left: 20px;
    position: absolute;
}
.input2 {
    float: right;
    margin-right: 0;
    position: absolute;
    padding: 20px;
    top: 60px; right:30px;
    width: 53%;
}
.input_box #sub_btn {
    position: absolute;
    width:86%;
    left: 30px; right: 30px;
    top: 160px;
    height: 30x;
    line-height: 30px;
    background: #d8d8d8;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    text-align: center;
}
.agree {text-align: center;}
.agree span {
    font-size: 12px;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 120px; left: 0;
    color: #fff;
}
.checkbox1 {
    text-align: center;
    background: #000;
    border: 1px solid #fff;
    width: 12px; height: 12px; left:-180px;
    position: relative;
    top: 85px;
}

.footer_area {
    position: relative;
    top:1350px; left: 30px;
    text-align: center;
    width: 100%;
}
.footer_area > h2 {
    position: relative;
    margin-bottom: 50px;
    left: 0;
    right: 0;
    top: 19px;
    height: 1px;
    background: #9a9a9a;
}
.footer_logo {
    position: absolute;
    left: 0; right: 0;
    text-align: center;
}
.footer_logo img {
    text-align: center;
    width: 186px;
}
.footer_sns ul {
    position: relative;
    top: 50px; left: 20px;
    width: 300px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.footer_sns ul li {
    float: left;
}
.footer_sns ul li img {
    width: 34px;
    margin-right: 20px;
}
.footer_txt {
    position: absolute;
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 10px;
    top: 160px;
}
.footer_txt p:first-child {
    color: #888;
    margin-bottom: 10px;
}
.footer_txt p:last-child {
    margin-bottom: 30px;
    color: #ADADAD;
}