@charset 'utf-8';

html,body,head,title,h1,h2,h3,h4,h5,h6,p,div,blockquote,address,ul,ol,li,dl,dt,dd,table,tr,th,td,caption,thead,tbody,tfoot,form,legend,fieldset,header,nav,aside,figure,section,article,main,footer {margin: 0; padding: 0;}
header,nav,aside,section,article,main,footer,figure {display: block;}

a {text-decoration: none; color: inherit;}
li {list-style: none;}
table {border-collapse: collapse;}

em,i,address,cite {font-style: normal;} /* 기울임체 속성을 해제 */

caption,.blind {font-size: 0; line-height: 0;height: 0; overflow: hidden; text-indent: -9999px;}

.clear:before, .clear:after {
    content: '';
    display: block;
    clear: both;
}