@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
    font-family: 'Noto Sans KR',sans-serif;
    background: #f7e7e1;
    width: 100%;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
#header {
    font-family: 'NanumSquare';
    position: fixed;
    left: 0; right: 0; top: 0; 
    background:#000;
    width: 100%; height: 90px;
    box-sizing: border-box;
    z-index: 3;
    overflow: hidden;
}
#header.active{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}
h1 {
    position: absolute;
    top: 16px; left: 30px;
}
h1 img {height: 48px;}
.gnb {
    width: 450px;
    margin: 0 auto;
    text-align: center;
}
.gnb_area li {
    position: relative;
    float: left;
    text-align: center;
}
.gnb_area li:before{
    position: absolute;
    top: 19px; left: 50%;
    text-align: center;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
}
.gnb_area li:hover:before {
    opacity: 1;
}
.gnb_area a {
    font-family: 'Noto Sans KR',sans-serif;
    display: inline-block;
    height: 90px;
    font-weight: 300;
    line-height: 90px;
    font-size: 16px;
    color: #fff;
    padding: 0 15px;
    transition: all 0.3s;
}
.gnb_area a:hover {
    transform: translateY(4px);
    font-weight: bold;
    
}
.menu_bar {display: none;}
#btn {
    float: right;
    margin-right: 30px;
    height: 90px;
    background: none;
    font-size: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
    vertical-align: middle;
}
#btn img {width: 30px;}
#mobile_btn {display:none }
/* menu-area */
.menu {
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}
.aa {
    overflow: scroll;
}
.black_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    height:100vh;
    z-index: 3;
    opacity: 0.67;
    display: none;
}
.black_bg.on {display: block;}
.main_bg {
    float: right;
    z-index: 10;
    position: fixed;
    top: 0; right: -100%;
    opacity: 0;
    height: 100% !important;
    overflow-y: auto;
    width: 30%;
    transition: all 0.8s;
}
.main_bg.on {
    opacity: 1;
    right: 0;
}
.main_bg_top{
    overflow: hidden;
    padding: 30px 50px 0;
    margin: -30px -50px 0;
    background: #a7443d;
}

.close_btn {
    float: right;
    margin-right: 40px;
    margin-top: 35px;
}
.search {
    width: 400px;
    text-align: center;
    padding: 0 50px;
    margin-top: 50px;
    margin-left: 10px;
    
}

fieldset {
    border: none;
    background: #a7443d;
    border-bottom: 3px solid #fff;
}
#search_area {
    width: 80%;
    height: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    background-color: #a7443d;
    font-size: 16px;
    outline: 0;
    color: #fff;
    margin-right: 10px;
}
#search_area::placeholder {
    color: #fff;
}
.search_img {
    width: 25px;
    height: 27px;
    margin-right: 30px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}
.menu_box {
    padding-left: 60px;
    margin-top: 40px;
}
.menu_box span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 12px;
    height: 34px;
    line-height: 32px;
    font-size: 16px;
    color: #efc1b1;
    border: 1px solid #efc1b1;
}
.menu_box span::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #efc1b1 transparent transparent transparent;
    margin: -2px 0 0 8px;
}
.menu_list {
    font-family: 'Noto Sans KR',sans-serif;
    width: 450px;
    margin: 20px auto;
}
.menu_list li a {
    display: block;
    line-height: 49px;
    height: 50px;
    border-bottom: 1px solid #efc1b1;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}

.menu_list li a:before {
    content: '+';
    font-size: 24px;
    float: right;
    color: #cecece;
    font-weight: 200;
}
.menu_list li a:hover {
    opacity: 0.5;
}


.menu_list2 {
    font-family: 'Noto Sans KR',sans-serif;
    width: 450px;
    margin: 40px auto;
}
.menu_list2 li a {
    display: block;
    line-height: 1.5;
    height: 60px;
    border-bottom: 1px solid #efc1b1;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    transition: all 0.5s;
}
.menu_list2 li a span {
    font-size: 15px;
    color: #efc1b1;
    font-weight: 300;
}
.menu_list2 li a:hover {
    opacity: 0.5;
}

.main_bg_bottom{
    padding: 50px;
    margin: 0 -50px 0;
    background: #86260e;
}
.menu_news {
    font-family: 'Noto Sans KR',sans-serif;
    width: 450px;
    margin: 20px auto;
}
.menu_news li a {
    display: block;
    line-height: 49px;
    height: 50px;
    border-bottom: 1px solid #efc1b1;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
.menu_news li a img {
    width: 25px; height: 25px;
    margin-right: 15px;
    vertical-align: middle;

}
.menu_news li:first-child a {border-top: 1px solid #efc1b1;}

.menu_news li a:before {
    content: '+';
    font-size: 24px;
    float: right;
    color: #cecece;
    font-weight: 200;
}
.menu_news li a:hover {
    opacity: 0.5;
}
.menu_bottom_area {
    font-family: 'Noto Sans KR',sans-serif;
    margin: 60px;
}
.menu_bottom_area li {
    float: left;
    width: 25%;
    height: 15px;
    line-height: 15px;
    margin-bottom: 25px;
}
.menu_bottom_area li a {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    transition: all 0.5s;
}
.menu_bottom_area li a::after {
    content: '';
    display: inline-block;
    background: #a5a5a5;
    width: 2px; height: 15px;
    margin-right: 20px;
    float: right;
}
.menu_bottom_area li a:hover {
    opacity: 0.5;
}
.menu_sns {
    margin-left:60px;
    padding-top: 25px;
    width: 450px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.menu_sns a {
    transition: all 0.8s;
}
.menu_sns img {
    width: 45px;
    transition: all 0.5s;
}

.menu_sns img:hover {
	transform: rotate( 23deg );
}
.content {
    color: #fff;
}
.img_area {
    text-align: center;
    background-image: url(../sub4_img/Archive_trend.jpg);
    margin-top: 90px;
    height: 650px;
    background-size: cover;
    background-position: center center;
}
.img_area .tit_text {
    font-size: 16px;
    font-family: 'Noto Sans KR',sans-serif;
    letter-spacing: 5px;
    color: #fff;
    font-weight: 500;
    padding-top: 70px;
}
.recommend img {
    height: 60px;
    margin: 20px auto;
}
.a_area {
    position: relative;
    overflow: hidden;
    max-width: 731px;
    margin: 70px auto;
    border: 6px solid #fff;
    box-sizing: border-box;
}
.a_area_img {
    width: 50%;
    margin-bottom: -5px;
}
.a_area_img img {width: 100%;}
.text_box {
    box-sizing: border-box;
    width: 50%;
    margin-top: -220px;
    float: right;
    padding: 10px 30px 10px 40px;
    color: #fff;
    text-align: left;

}
.text_box strong {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 600;

}
.text_box p {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 16px;
    margin-bottom: 14px;
}
.text_box p {
    font-size: 15px;
    font-weight: 700;
}
.text_box .material-symbols-outlined {
    font-weight: 300;
    position: absolute;
}
.a_area .day {
    position: absolute;
    display: inline-block;
    top: 25px; left: 30px;
    font-size: 13px;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.inner_contents {
    font-family: 'Noto Sans KR',sans-serif;
    margin: 50px auto;
    width: 1000px;
    padding-top: 50px;
}
.inner_contents ul {
    display: inline-block;
}
.inner_contents li {
    float: left;
    overflow: hidden;
    margin-right: 40px;
    width: 25%;
    height: 500px;
    padding-left: 30px;
    margin-bottom: 60px;
    border-left: 1px solid #aa9e93;
}
.inner_contents .day {
    float: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #aa9e93;
    color: #444;
    font-size: 13px;
    font-weight: bold;
}
.inner_contents .vol {
    float: right;
    color: #aa9e93;
    padding-bottom: 5px;
    border-bottom: 1px solid #aa9e93;
    font-size: 13px;
    font-weight: bold;
}
.inner_contents figure img {
    width: 100%;
    margin: 20px auto;
}
.inner_contents .main_txt {
    font-size: 20px;
    color: #222;
    font-weight: 500;
}
.inner_contents .sub_txt {
    font-size: 14px;
    color: #666;
    margin: 30px auto;
}
.inner_contents .view {
    color: #444;
    font-size: 15px;
    font-weight: bold;
}
.inner_contents .view .material-symbols-outlined {
    color: #aa9e93;
    font-weight: 300;
    vertical-align: middle;
}
.more_view {
    font-family: 'Noto Sans KR',sans-serif;
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #444;
    border: 1px solid #444;
    font-size: 16px;
    padding: 10px 35px;
    background: none;
    cursor: pointer;
    margin-bottom: 60px;
}
.more_view span {
    vertical-align: middle;
    margin-left: 3px;
}
.material-symbols-outlined.on {
    transform: scaleY(-1)
}
.more_contents {display: none;}
.more_contents.on {display: block;}

.footer {
    background: #e9e9e9;
}
.footer_area {
    width: 960px;
    margin: 50px auto;
   height: 100px;
   padding-top: 40px;
}
.footer_logo {float: left;}
.footer_logo img {
    width: 186px;
}
.footer_sns {
    float: right;
}

.footer_sns li {
    float: left;
    margin-left: 20px;
}
.footer_sns img {
    width: 34px;
}
.footer_txt {float: left;}
.footer_txt p {
    color: #8b8b8b;
    font-size: 10px;
    display: block;
    margin-top: 10px;
    line-height: 1.8;
    letter-spacing: 1px;
}